/*
Author:Shan Hathaway
Date: 10/10/2023
Purpose: CIS 121 Third Assignment
*/

.container {
  padding: 10px;
  margin: 10px;
}

.container-column {
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  justify-content: center;
  align-items: center;
}
.container-row {
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin: 10px;
  justify-content: center;
  align-items: center;
}

.hero {
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 10px;
  margin: 10px;
  text-align: center;
}
