/*
Author:Shan Hathaway
Date: 10/20/2023
Purpose: CIS 121 Fourth Assignment
*/

/*Globals*/
h1 {
  font-family: "Raleway", sans-serif;
}

h2 {
  font-family: "Raleway", sans-serif;
}

p {
  font-family: sans-serif;
  font-size: 1.2rem;
}

li {
  font-family: sans-serif;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

img {
  max-height: 25rem;
}

/* containers */

.container {
  padding: 0.625rem;
  margin: 0.625rem;
}

.card-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #efe9c0;
}

.image-container {
  padding: 0.625rem;
  margin: 0.625rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #efe9c0;
}

.container-column {
  max-width: 103.75rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.625rem;
  padding-bottom: 3.75rem;
  margin: 0.625rem;
  justify-content: center;
  align-items: center;
}
.container-row {
  max-width: 102.5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0.625rem;
  padding-bottom: 3.75rem;
  margin: 0.625rem;
  justify-content: center;
  align-items: center;
}

/* Specific elements */

#titlecard {
  padding-top: 2rem;
}

header {
  max-width: 103.75rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url(./assets/calum-lewis-rkT_TG5NKF8-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 6.25rem;
}

#ingredients {
  max-width: 103.75rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-bottom: 3.75rem;
  justify-content: center;
  align-items: center;
  background-color: #a8ac6f;
}

#pasta-image {
  background-image: url(./assets/justino-sanchez-F6i-TNZjA3k-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20rem;
}

footer {
  max-width: 103.75rem;
  height: 2.4rem;
  background-color: #cba02a;
}

#footer-content-container {
  max-width: 102.5rem;
  height: 2.4rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* Media Queries */

@media only screen and (max-width: 900px) {
  .container-row {
    flex-direction: column;
    padding-bottom: 30px;
  }

  #ingredients {
    flex-direction: column;
    padding-bottom: 30px;
  }

  #method {
    flex-direction: column;
    padding-bottom: 30px;
  }
}

@media only screen and (max-width: 600px) {
  #titlecard {
    text-decoration: underline;
    margin: auto;
  }
  .hero {
    padding-bottom: 30px;
  }
  #pasta-image {
    padding: 180px;
  }

  .hero {
    background-image: none;
  }
}
